@model ArtGalleryProject.Models.IndexViewModel

@{
  ViewBag.Title = "Profili im";
}
<link href="~/Styles/Profili/Portofolio/responsive.css" rel="stylesheet" />
<link href="~/Styles/Profili/Portofolio/styles.css" rel="stylesheet" />
<style>

  img {
    margin: 5px;
    padding: 5px;
  }

  .flex-column {
    max-width: 260px;
  }
</style>
<br />
<section>
  <div class="container">
    <div class="row">
      <h4><b>@Model.user.Emri  @Model.user.Mbiemri </b> </h4>
    </div>
    <div class="row">
      <h4><b>EMAIL : </b>@Model.user.Email </h4>
    </div>
  </div><!-- container -->
</section><!-- intro-section -->
<br />
<div class="container">
  <div class="row">
    <ul class="list-group list-group-horizontal" style="text-align:center;">
      <li class="list-group-item list-group-item-action list-group-item-light">
        <a href="@Url.Action("FollowingFollowers", "Artist", new { tipi="following",id=Model.user.Id })" class="nav-link">
          <b>Following</b><br /> @Model.nrfollowing
        </a>
      </li>
      <li class="list-group-item list-group-item-action list-group-item-light">
        <a  href="@Url.Action("FollowingFollowers", "Artist", new { tipi="followers", id=Model.user.Id })" class="nav-link">
          <b>Followers</b><br /> @Model.nrfollowers
        </a>
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <a href="@Url.Action("Create", "Artworks")" class="btn btn-lg bg-danger text-white">+ Shto Veper</a>
    </div>
  </div>
</div>



<section class="portfolio-section section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="heading">
          <h3><b>Veprat</b></h3>
        </div>
      </div><!-- col-sm-4 -->
    </div><!-- row -->
  </div><!-- container -->

  <div class="portfolioContainer">

    <div class="container">
      <div class="row">
        @foreach (var veper in Model.veprat)
        {
          <div class="row">
            <div class="col">
              <div class="card" style="width: 20rem; border:none;">
                <a href="@Url.Action("Details", "Artworks", new { id=veper.id})">
                  <img src="~/Content/Imazhe/Veprat/@(veper.fotoEmri)" style="max-width:100%; max-height:500px" class="card-img-top" alt="...">
                </a>
              </div>
            </div>
          </div>
        }
      </div>
    </div>

  </div><!-- portfolioContainer -->

</section><!-- portfolio-section -->

<section class="about-section section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="heading">
          <h3><b>Bio</b></h3>
        </div>
      </div><!-- col-sm-4 -->
      <div class="col-sm-8">
        <p class="margin-b-50">
          @Model.user.bio
        </p>


      </div><!-- col-sm-8 -->
    </div><!-- row -->
  </div><!-- container -->
</section><!-- about-section -->
<!---
<h4>Change your account settings</h4>
<hr />
<dl class="dl-horizontal">
  <dt>Password:</dt>
  <dd>
    [
    if (Model.HasPassword)
    {
      Html.ActionLink("Change your password", "ChangePassword")
    }
    else
    {
      Html.ActionLink("Create", "SetPassword")
    }
    ]
  </dd>
</dl>
--->
