@using ArtGalleryProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<div class="container body-content">
    <div class="row">
      <div class="col-md-8">
        <section id="loginForm">
          @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
          {
            @Html.AntiForgeryToken()
          <h2>@ViewBag.Title.</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
              @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
              <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
              </div>
            </div>
            <div class="form-group">
              @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
              <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                  @Html.CheckBoxFor(m => m.RememberMe)
                  @Html.LabelFor(m => m.RememberMe)
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log in" class="btn btn-primary" />
              </div>
            </div>
            <p>
              @Html.ActionLink("Regjistrohuni", "Register")
            </p>
          }
        </section>
      </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
